app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=zbio",tag=latest
    helm upgrade shakul-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test:
  - name: election-commission
    configType: cypress
    configPath: service-test-suite/election-commission
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=zbio",tag=latest -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

    helm install <helm-folder> -n <ns> $HELM_OPTS
    kubectl apply -f <file>.yaml
test:
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/election-commission
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Shakul Mittal
lastUpdatedOn: 2023-03-06T08:42:43.788Z
